$page-padding: 1em;

$button-padding-small-static: 0.5em;
$button-margin-small-static: 1em;

$button-padding-small-active: 0.4em;
$button-margin-small-active: 1.4em;

$font-size-small: 1.2em;
$font-size-medium: 1.4em;
$font-size-large: 1.8em;

$margin-small: 0.4em;
$margin-medium: 0.8em;
$margin-large: 1.2em;

$green-color: #6bbf9c;
$blue-color: #5066a1;
$red-color: #d9525b;

$dialog-border-radius: 2px;
