@import "./_variables";

:local(.container) {
  width: 100%;
  height: inherit;

  :local(.main) {
    width: 100%;
    height: inherit;

    :local(.header) {
      text-align: center;
      overflow-y: auto;
      overflow-x: hidden;
      height: 10%;
      text-align: center;

      :local(.left) {
        float:left;
        width: 50%;
        height: 100%;
        text-align: center;
        display: table;

        span {
          font-size: $font-size-large;
          height: inherit;
          display: table-cell;
          vertical-align: middle;
          font-weight: bold;
        }
      }

      :local(.right) {
        float:right;
        width: 50%;
        height: 100%;
        text-align: left;
        display: table;

        span {
          font-size: $font-size-small;
          text-transform: lowercase;
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    :local(.content) {
      text-align: center;
      overflow-y: auto;
      overflow-x: hidden;
      width: 100%;
      height: 80%;

      table {
        width: 100%;
        height: 100%;
        border: 0px transparent;
        margin: 0px;
        padding: 0px;

        tr td {
          width: 50%;
          height: 50%;

          img {
            width: 100%;
            height: auto;
          }
        }
        tr td:active {
          background-color: #D9E4DA;
        }
      }
    }

    :local(.footer) {
      text-align: center;
      overflow-y: auto;
      overflow-x: hidden;
      width: 100%;
      height: 10%;
      display: table;

      :local(.left) {
        float:left;
        width: 33.3%;
        height: 100%;
        display:table-cell;
        vertical-align: middle;
      }

      :local(.middle) {
        float:left;
        height: 100%;
        width: 33.3%;
        text-align: center;
      }

      :local(.right) {
        float:left;
        width: 33.3%;
        height: 100%;
        text-align: center;
      }
    }
  }

}
